/* Fonts stuff*/

@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --ipadres: 650px;
    --desktopres: 768px;
    --fontcolor: #d2d5da;
}


/* Background */

html,
body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    background-color: #141a26;
    font-family: 'Poppins', sans-serif;
}

.content {
    background-color: #141a26;
    align-items: center;
    color: #D2D5DA;
    margin-left: 1em;
    margin-right: 1em;
    min-width: 350px;
}

.button {
    background-color: #146281;
    color: #d2d5da;
    margin: 1rem;
    padding: 12px 28px;
    box-shadow: 10px 10px 15px #00000066;
    border-radius: 4px;
    border: none;
    opacity: 1;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
}

.button:active {
    opacity: 1;
    background-color: #1d8db9;
}


/* active job*/

.subsection {
    margin-top: 2em;
    margin-bottom: 2em;
}


/*add job button*/

.add-job-space {
    justify-content: center;
    align-items: center;
    display: flex;
}


/* active previous job tag*/

.tag {
    background-color: #042335;
    width: 158px;
    height: 32px;
    text-align: center;
    padding-top: 5px;
    border-radius: 4px;
}

.tag p {
    margin: auto;
}

.filter-tag-space {
    margin: 2em;
    display: flex;
    flex-direction: row;
}

.tag.filter {
    background-color: #5d6366;
    margin: 0 5px 0 5px;
}


/* job item for mobile*/

.job-card-space {
    margin-top: 2em;
    margin-bottom: 2em;
}

.job-card {
    background-color: #252d40;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    display: flex;
    box-shadow: 16px 16px 15px #00000066;
}

.job-card.up {
    flex-basis: auto;
    border-radius: 4px;
    border: none;
}

.job-card.down {
    flex-wrap: wrap;
    max-height: 0px;
    transition: 1s ease;
    padding: 0px 10px;
}

.job-card.down.open {
    max-height: none;
    transition: all 1s ease;
    padding: 10px;
}

.job-arrow {
    width: 0px;
    text-align: center;
}


/*NavBar*/

nav {
    background: black;
    padding: 3px 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #d2d5da;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: default;
}

.menu li {
    font-size: 18px;
    padding: 15px 5px;
}

.menu li a {
    display: block;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}

img {
    height: 50px;
}


/* Mobile Menu */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
    cursor: pointer;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}


/* navbar toggle*/

.bars {
    background: #999999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px
}

.bars::before,
.bars::after {
    background: #999999;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.bars::before {
    top: 5px;
}

.bars::after {
    top: -5px;
}


/* Tablet menu */

@media all and (min-width: 650px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        text-decoration: none;
        padding: 7px 15px;
        border: none;
    }
    .button.secondary a {
        background: transparent;
    }
    .button a:hover {
        transition: all .25s;
    }
    .button:not(.secondary) a:hover {
        border-color: #005959;
    }
    .button.secondary a:hover {
        color: #ddd
    }
    .content {
        margin-left: 2em;
        margin-right: 2em;
    }
    .job-card {
        flex-direction: row;
    }
    .details {
        margin: 0 1em;
    }
    .details p {
        margin: 1em 0;
    }
    .job-arrow {
        width: 0px;
        text-align: center;
    }
}


/*for desktop*/

@media all and (min-width: 768px) {
    .content {
        margin-left: 10%;
        margin-right: 10%;
    }
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {}
    .job-card {
        flex-direction: row;
    }
    .open {
        max-height: 100px;
        transition: 1s;
        visibility: visible;
    }
    .job-arrow {
        width: 242px;
        text-align: right;
    }
}

.arrow {
    border: solid beige;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.details {
    margin: 0 1em;
}


/* MODAL */

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.425);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #141a26;
    color: #D2D5DA;
    box-shadow: 2px 2px 20px 20px #00000066;
    min-width: 300px;
}

.modal-header,
.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.modal-body {
    padding: 20px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
}

.form-labels {
    display: flex;
    flex-direction: column;
    padding-right: 3px;
}

.form-labels label {
    height: 24px;
    margin: 2px 0px 2px 0px;
    text-align: right;
}

.form-inputs {
    display: flex;
    flex-direction: column;
}

.form-inputs input {
    height: 24px;
    margin: 2px 0px 2px 0px;
    background-color: rgb(71, 71, 71);
    color: #D2D5DA;
}


/* Modal animations */

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.8s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}