.job-card {
    background-color: rgb(53, 53, 53);
}

html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    background-color: rgb(82, 82, 82);
}

.navbar > div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #000000;
    

}

.navbar > div:nth-child(1) {
    background-color: #a5a5a5;
}
.navbar > div:nth-child(2) {
    background-color: #797878;
}

.navbar > div:nth-child(3) {
    background-color: #a5a5a5;
}



.navbar {
    border: 5px solid #eeeeee;
    display: flex;
    justify-content: flex-end;

}
.logo {
    margin-right: auto;
}
