:root {

/* Colors: */
--active-button-color: #7B848D;
--inactive-button-color: #3F4B59;
--headline-color: #031926;
--list-color: #252D40;
--text-color: #D2D5DA;
--buttoncolor: #0D4459;
--background-color: #141A26;
--navbar-color: #010D0D;

/* Font/text values */
--unnamed-font-family-degular-display: Degular Display;
--unnamed-font-family-kallisto: Kallisto;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-bold: bold;
--unnamed-font-weight-medium: medium;
--unnamed-font-size-24: 24px;
--unnamed-font-size-45: 45px;
--unnamed-font-size-52: 52px;
--unnamed-character-spacing-0: 0px;
--unnamed-character-spacing-0-72: 0.72px;
--unnamed-character-spacing-5-2: 5.2px;
--unnamed-character-spacing-2-25: 2.25px;
--unnamed-line-spacing-29: 29px;
--unnamed-line-spacing-32: 32px;
--unnamed-line-spacing-54: 54px;
--unnamed-line-spacing-69: 69px;
}

/* Character Styles */
.navbar-style {
font-family: var(--unnamed-font-family-degular-display);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-52);
line-height: var(--unnamed-line-spacing-69);
letter-spacing: var(--unnamed-character-spacing-5-2);
color: var(--unnamed-color-d2d5da);
}
.headline-style {
font-family: var(--unnamed-font-family-degular-display);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-24);
line-height: var(--unnamed-line-spacing-32);
letter-spacing: var(--unnamed-character-spacing-0-72);
color: var(--unnamed-color-d2d5da);
}
.add-job-style {
font-family: var(--unnamed-font-family-kallisto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-45);
line-height: var(--unnamed-line-spacing-54);
letter-spacing: var(--unnamed-character-spacing-2-25);
color: var(--unnamed-color-d2d5da);
}
.list-style {
font-family: var(--unnamed-font-family-kallisto);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-24);
line-height: var(--unnamed-line-spacing-29);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-d2d5da);
}
